<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>start</key>
		<integer>0</integer>
		<key>stop</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>6</integer>
		<key>stop</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>25</integer>
		<key>stop</key>
		<integer>52</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>52</integer>
		<key>stop</key>
		<integer>76</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>76</integer>
		<key>stop</key>
		<integer>109</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>109</integer>
		<key>stop</key>
		<integer>139</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>139</integer>
		<key>stop</key>
		<integer>187</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>187</integer>
		<key>stop</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>200</integer>
		<key>stop</key>
		<integer>238</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>238</integer>
		<key>stop</key>
		<integer>252</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>252</integer>
		<key>stop</key>
		<integer>269</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>269</integer>
		<key>stop</key>
		<integer>308</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>308</integer>
		<key>stop</key>
		<integer>339</integer>
	</dict>
</array>
</plist>
